/* Stylesheet for the PHP version of Music Organizer */

#container{

	width: 90%;
	margin-top: 5%;
}

#searchForm{
	
	font-family: 'Buenard', serif;
	width: 30%;
	margin-left: 20%;

}

#searchForm{

	width: 30%;
	margin-left: 20%;
	border: 1px solid #000;
}
